
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    @*<link href="~/Content/linear-icons.css" rel="stylesheet" />*@
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/datepicker.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />


</head>
<body>

    @Html.Partial("_Header")


    <div class="wrapper" id="wrapper">
        <!-- Sidebar  -->
        @Html.Partial("_Sidebar")



        <!-- Page Content  -->
        <div id="content" class="pl-0">

            @RenderBody()

        </div>

        <div class="right-sidebar p-3" style="">
            <h6 class="pb-3">Recent Transactions</h6>
            @for (var i = 0; i < 5; i++)
            {
                <div class="">
                    <a href="#">
                        <span><strong>Test</strong> has been added</span>
                        <small>2 mins ago</small> <hr class="mb-0" style="margin-top: 8px" />
                    </a>
                </div>
            }

        </div>
    </div>

    <!--Default Modal-->
    <div class="modal fade" id="Default-Modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="font-size:19px;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-light btn-sm" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success btn-sm save_btn">Save</button>
                </div>
            </div>
        </div>
    </div>


    @if (ViewBag.Title == "Stocks Entry Page" || ViewBag.Title == "Transfer Stocks Page" || ViewBag.Title == "Release Stocks Page")
    {
        <div class="dropdown float-icon-container" id="">
            <button id="floatMenu" type="button" class="btn scroll-up-icon float-icon dropdown-toggle" data-toggle="dropdown" style="display: inline;">
                <i class="fa fa-cogs text-black"></i>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="floatMenu">
                <li role="presentation"><a role="menuitem" href="javascript:void(0)" class="open-dialog" id="Add New Item" data-href="@Url.Action("Create", "ItemMasterList")" data-modal-size="lg">New Item</a></li>
                <li role="presentation"><a role="menuitem" href="javascript:void(0)">Update Item</a></li>
            </ul>
        </div>
    }



    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/umd/popper.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/datepicker.js"></script>
    <script src="~/Scripts/sweetalert2.all.js"></script>
    <script src="~/Scripts/custom.js"></script>
    @RenderSection("scripts", required: false)

    <script>
        $(function () {

            var headerHeight = $('#header').height();

            $('#wrapper').css({ "margin-top": headerHeight });
        });
    </script>

</body>
</html>

