<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" , initial="1" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.css" rel="stylesheet"/>
    <link href="~/Content/datepicker.css" rel="stylesheet"/>
    <link href="~/Content/LayoutInventory.css" rel="stylesheet" />
    @RenderSection("Styles", false)
</head>
<body>
    <div class="wrapper">
        <div class="wrapper__header">
            <div class="header__headlogo">
                <img class="headlogo__img" src="~/Content/Images/MCBILogo_150px.png">
            </div>
            <div class="header__headtitle">
                <h1 class="headtitle__h1">Inventory Management System</h1>
            </div>
            <div class="header__sidetext">
                <h4>IMS © copyright series 2020 @{Write("@");} version 1.0</h4>
                <a href="javascript:void(0)" class="logout__btn">Logout</a>
            </div>
            <button class="mobile__menu__button">
                <i class="fa fa-bars"></i>
            </button>
        </div>
        <div class="wrapper__leftmenu">
            <div class="leftmenu_dummy"></div>
            <div class="leftmenu__leftlogo">
                <img class="leftlogo__img" src="~/Content/Images/MCBILogo_150px.png" />
            </div>
            <div class="leftmenu__menu">
                <ul class="sidebar">
                    <li>
                        <a href="#" class="sidebar__menu">
                            <i class="fa fa-home fa-fw"></i>
                            HOME
                        </a>
                    </li>
                    <li class="has__menu">
                        <a href="javascript:void(0)" class="sidebar__menu" data-target="#inventorySubMenu">
                            <i class="fa fa-angle-right caret" style=""></i>
                            <i class="fa fa-tag fa-fw"></i>
                            INVENTORY
                        </a>
                        <ul id="inventorySubMenu" class="d__none animated" style="padding-left: 0">
                            <li class="">
                                <a href="@Url.Action("StockEntry", "Stocks")" class="sidebar__menu sub__menu" style="position:relative">
                                    <i class="fa fa-circle fa-fw"></i>
                                    Stock Entry
                                </a>
                            </li>
                            <li class="has__menu">
                                <a href="javascript:void(0)" data-target="#stockFlowSubMenu" class="sidebar__menu sub__menu" style="position:relative">
                                    <i class="fa fa-angle-right caret" style=""></i>
                                    <i class="fa fa-circle fa-fw"></i>
                                    Stock Flow
                                </a>
                                <ul id="stockFlowSubMenu" class="d__none" style="padding-left: 0">
                                    <li class="">
                                        <a href="@Url.Action("TransferStock", "Stocks")" class="sidebar__menu child__sub__menu">Transfer Stocks</a>
                                    </li>
                                    <li class="">
                                        <a href="@Url.Action("ReleaseStock", "Stocks")" class="sidebar__menu child__sub__menu">Release Stocks</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <a href="#" class="sidebar__menu sub__menu has__menu">
                                    <i class="fa fa-circle fa-fw"></i>
                                    Stock Inquiry
                                </a>
                            </li>
                            <li class="">
                                <a href="javascript:void(0)" data-target="#stockDataSubMenu" class="sidebar__menu sub__menu" style="position:relative">
                                    <i class="fa fa-angle-right caret" style=""></i>
                                    <i class="fa fa-circle fa-fw"></i>
                                    Stock Data
                                </a>
                                <ul id="stockDataSubMenu" class="d__none" style="padding-left: 0">
                                    <li class="">
                                        <a href="#" class="sidebar__menu child__sub__menu">New Item Data</a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="sidebar__menu child__sub__menu">Update Item Data</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <a href="#" class="sidebar__menu sub__menu has__menu">
                                    <i class="fa fa-circle"></i>
                                    Reports
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-cog fa-fw"></i>
                            SETTINGS
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="wrapper__maincontent">
            @RenderBody()
        </div>
        <div class="wrapper__rightmenu">
            <div class="rightmenu__dummy"></div>
            <div class="rightmenu__recent">
                <div class="recent__title"><h3>Recent Transaction</h3></div>
                <div class="recent__content">

                </div>
            </div>
            <div class="rightmenu__confirm">
                <div class="confirm__title"><h3>Confirm Transaction</h3></div>
                <div class="confirm__content">

                </div>
            </div>
        </div>
    </div>


    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/datepicker.js"></script>
    <script src="~/Scripts/sweetalert2.all.js"></script>
    <script src="~/Scripts/jquery.cookie.js"></script>
    <script src="~/Scripts/custom.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
