@{
    ViewBag.Title = "Forms Page";
}

    <div class="row">
        <div class="col-md-6">
            <div class="list-group">
                <a href="javascript:void(0)" data-href="@Url.Action("FormView", "Form", new { pageName = "BlotterForm" })" data-modal-size="xl" id="Blotter Form" class="open-dialog list-group-item list-group-item-action">Blotter Form</a>
                <a href="javascript:void(0)" data-href="@Url.Action("FormView", "Form", new { pageName = "BorrowersSlip" })" data-modal-size="xl" id="Borrowers Slip" class="list-group-item list-group-item-action">Borrowers Slip</a>
                <a href="javascript:void(0)" data-href="@Url.Action("FormView", "Form", new { pageName = "GatePass" })" data-modal-size="lg" id="Gate Pass" class="list-group-item list-group-item-action">Gate Pass</a>
                <a href="javascript:void(0)" data-href="@Url.Action("FormView", "Form", new { pageName = "IssuanceSlip" })" data-modal-size="xl" id="Issuance Slip" class="list-group-item list-group-item-action">Issuance Slip</a>
                <a href="javascript:void(0)" data-href="@Url.Action("FormView", "Form", new { pageName = "PPERequestForm" })" data-modal-size="xl" id="Employee PPE Request Form" class="list-group-item list-group-item-action">Employee PPE Request Form</a>
                <a href="javascript:void(0)" data-href="@Url.Action("FormView", "Form", new { pageName = "ItemDelivered", itemType = "tools" })" data-modal-size="xl" id="Tools Delivered on Site" class="list-group-item list-group-item-action">Tools Delivered on Site</a>
                <a href="javascript:void(0)" data-href="@Url.Action("FormView", "Form", new { pageName = "ItemDelivered", itemType = "materials" })" data-modal-size="xl" id="Materials Delivered on Site" class="list-group-item list-group-item-action">Materials Delivered on Site</a>

            </div>
        </div>
        <div class="col-md-6">
            <div class="list-group">
                <a href="javascript:void(0)" data-href="@Url.Action("FormView", "Form", new { pageName = "WithdrawalSlip" })" data-modal-size="xl" id="Withdrawal Slip" class="open-dialog list-group-item list-group-item-action">Withdrawal Slip</a>
                <a href="javascript:void(0)" data-href="@Url.Action("FormView", "Form", new { pageName = "ReceivingReport" })" data-modal-size="xl" id="Receiving Report" class="open-dialog list-group-item list-group-item-action">Receiving Report</a>
                <a href="javascript:void(0)" data-href="@Url.Action("FormView", "Form", new { pageName = "StockCard" })" data-modal-size="xl" id="Stock Card" class="open-dialog list-group-item list-group-item-action">Stock Card</a>
                <a href="javascript:void(0)" data-href="@Url.Action("FormView", "Form", new { pageName = "ToolsInventoryRecord" })" data-modal-size="xl" id="Tools Inventory Record" class="open-dialog list-group-item list-group-item-action">Tools Inventory Record</a>
                <a href="javascript:void(0)" data-href="@Url.Action("FormView", "Form", new { pageName = "MaterialsInventoryRecord" })" data-modal-size="xl" id="Materials Inventory Record" class="open-dialog list-group-item list-group-item-action">Materials Inventory Record</a>
                <a href="javascript:void(0)" data-href="@Url.Action("FormView", "Form", new { pageName = "ItemTransfered", itemType = "tools" })" data-modal-size="xl" id="Tools Transfer Form" class="open-dialog list-group-item list-group-item-action">Tools Transfer Form</a>
                <a href="javascript:void(0)" data-href="@Url.Action("FormView", "Form", new { pageName = "ItemTransfered", itemType = "materials" })" data-modal-size="xl" id="Materials Transfer Form" class="open-dialog list-group-item list-group-item-action">Materials Transfer Form</a>

            </div>
        </div>


        <div class="col-md-12 mt-3">
            <h6>Sample Report</h6>
            <a href="@Url.Action("SampleReport", "Form", new { pageName = "BlotterForm" })" target="_blank">Blotter Form</a>
        </div>


    </div>

